{% extends 'fedora_utilities/base.html' %}

{% block head_title %}
 Fedora 3.8 App
{% endblock %}

{% block more_css %}
<style media="screen" type="text/css">
 ul.fedora-batch-nav {
   background-color: rgb(209,208,208);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   padding: .5em;
   width: 12%;
 }

</style>
{% endblock %}


{% block body %}
 {# START row-fluid DIV #}
 <div class="row" id="first-container" class="container" style="padding-top: 40px">
  {# START fedora batch nav DIV #}
  <div class="col-sm-3 col-md-2">
   <ul class="list-group" >
    <li class="list-group-item {% if request.path.endswith('add_object') %} bg-warning{% endif %}">
        <i class="fa fa-upload" aria-hidden="true"></i>
       <a href="{{ url_for('add_object') }}">Add Object</a>
    </li>
    <li class="list-group-item {% if request.path.endswith('add_stub') %} bg-warning{% endif %}">
        <i class="fa fa-th" aria-hidden="true"></i>
       <a href="{{ url_for('add_stub') }}">Batch Creator</a>
    </li>
    <li class="list-group-item {% if request.path.endswith("index") %} bg-warning{% endif %}">
        <i class="fa fa-hourglass" aria-hidden="true"></i>
        <a href="{{ url_for('index_repository') }}">Index Repository</a>
    </li>
    <li class="list-group-item {% if "edit" in request.path %} bg-warning{% endif %}">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
        <a href="{{ url_for('edit_mods') }}">Edit PID's MODS</a>
    </li>
    <li class="list-group-item {% if request.path.endswith("replacement") %} bg-warning{% endif %}">
        <i class="fa fa-search" aria-hidden="true"></i>
        <a href="{{ url_for('mods_replacement') }}">MODS Replacement</a>
    </li>
   </ul>
  {# END fedora batch nav DIV #}
  </div>
   {# START views DIV #}
   <div class="col-sm-9 col-md-10">
   
   <div> 
   <h1>Fedora 3.8 Utilities</h1>
   <h2>{% block utility_name %}{% endblock %}</h2>
    {% if message %}
     <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {% autoescape off %}
      <h3>{{ message }}</h3>
      {% endautoescape %}
     </div>
    {% else %}
	 <p>Original code migrated from Aristotle Library Apps project to Flask-based
         application in  Colorado College's Catalog Pull Platform.</p>
    {% endif %}
   </div>
   {% block fedora_form %}{% endblock %}
  {# END views DIV #}
  </div>

 {# END row-fluid DIV #}
 </div>
 {% block second_row %}{% endblock %}
{% endblock %}
