{% extends 'fedora_utilities/app.html' %}

{% block fedora_form %}
<div class="jumbotron">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-warning">
            <strong>Message!</strong>
            {% for msg in messages %}
                <p>{{ msg|safe }}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <h2>Index Repository</h2>
    <p>Index Fedora repository into Elastic Search</p>
    <form method="POST" action="{{ url_for('index_repository') }}" id="index-form">
        {% if index_form.errors %}
        <div class="alert alert-danger">
        <h4 class="alert-heading">Errors!</h4>
            {{ index_form.errors }}
        </div>
        {% endif %}
        <div class="row">
            <section class="col-md-6">
                <div class="form-group">
                  {{ index_form.index_choice.label }}
                  {{ index_form.index_choice(class_="form-control") }} 
                </div>
            </section>
            <section class="col-md-6">
                <div class="form-group">
                    {{index_form.start_from.label }}
                    {{ index_form.start_from(class_='form-control') }} 
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-md-8">
                <div class="form-group">
                    {{ index_form.indices.label }}
                    {{ index_form.indices(class_="form-control") }}
                </div>
            </section>
            <section class="col-md-4">
                <div class="form-group"><br>
                    <button class="btn btn-primary form-control" type="submit">Run Index</button>
                </div>
            </section>
        </div>
    </form>
    <hr>
    <h3>Index a single PID</h3>
    <p>Index (or re-index) a single PID</p>
    <form method="POST" action="{{ url_for('index_pid') }}" id="single-index-form">
        <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                  {{ index_form.indices.label }}
                  {{ index_form.indices(class_="form-control", id='single-pid-index') }} 
                </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>PID</label>
                <input class="form-control" id="pid" name="pid"></input>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>&nbsp;</label>
                <button class="btn btn-primary" type="submit">Index</button>
            </div>
        </div>
        </div>
    </form>
</div>
<div class="row invisible" id="index-status">
    <div class="col-md-8">
        <div class="alert alert-success">
            <h2 id="status-title"></h2>
            <ul id="messages">
            </ul>
        </div>
    </div>
    <div class="col-md-4">
       <div class="btn-group">
            <button class="btn btn-secondary" id="download-job">
                <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                Download
            </button> 

       </div> 
    </div>
</div>
{% endblock %}

{% block more_js %}
<script type="text/javascript" charset='utf-8'>
    //var socket = io.connect("http://" + document.domain + ":" + location.port);

</script>
<script>
    $("#index-form").submit(function() {
        var url = $(this).attr('action');
        if($("#index_choice").val() == 1) {
            var choice = confirm("This will delete existing search index.\nContinue?");
            if (choice == false) {
                return false;
            }
        }
        var msgs = $("#messages");
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: url,
            success: function(response) {
                $("#index-status").removeClass("invisible");
                for(i in response) {
                    msgs.append("<li>" + response[i] + "</li>");
                }
                var event_source = new EventSource("{{ url_for('indexing_status') }}");
                event_source.onmessage = function(e) {
                    msgs.prepend("<li>" + e.data + "</li>");
                };
            }
        });
        return false;
    });

    function DownloadJob() {
        console.log("Download job");

    }
</script>
{% endblock %}
