{% extends 'fedora_utilities/app.html' %}

{% block fedora_form %}
   <div class="well well-small" data-bind="visible: batchIngest">
       <a name="ingest"></a>
       <h2>Batch Ingest</h2>
        <p>{{ ingest_form.errors }}</p>
	<form method="POST" action="{{ url_for('add_stub') }}" id="ingest_form" enctype="multipart/form-data" >
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group {% if ingest_form.collection_pid.errors %}alert alert-danger{% endif %}">
                      {% for error in ingest_form.collection_pid.errors %}
                        ERROR: {{ error }}
                      {% endfor %}
                        {{ ingest_form.collection_pid.label }}
                        {{ ingest_form.collection_pid(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.number_objects.label }}
                        {{ ingest_form.number_objects(class_='form-control') }}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.content_models.label }}
                        {{ ingest_form.content_models(class_='form-control') }}
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-md-8">
                    <div class="form-group">
                       {{ ingest_form.title.label }}
                       {{ ingest_form.title(class_='form-control') }}   
                    </div> 
                    <div class="form-group">
                       {{ ingest_form.alt_title.label }}
                       {{ ingest_form.alt_title(class_='form-control') }}   
                    </div> 
                </section>
            </div>
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.creators.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'creators')">+</a>
                        {{ ingest_form.creators(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.corporate_creators.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'corporate_creators')">+</a>
                        {{ ingest_form.corporate_creators(class_='form-control') }}
                    </div>

                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.contributors.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'contributors')">+</a>
                        {{ ingest_form.contributors(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.corporate_contributors.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'corporate_contributors')">+</a>
                        {{ ingest_form.corporate_contributors(class_='form-control') }}
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.date_created.label }}
                        {{ ingest_form.date_created(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.digital_origin.label }}
                        {{ ingest_form.digital_origin(class_='form-control') }}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.type_of_resource.label }}
                        {{ ingest_form.type_of_resource(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.genre.label }}
                        {{ ingest_form.genre(class_='form-control') }}
                    </div>
                </section> 
            </div>
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.description.label }}
                        {{ ingest_form.description(class_='form-control', rows=5) }}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.rights_holder.label }}
                        {{ ingest_form.rights_holder(class_='form-control', rows=4) }}
                    </div>
                </section>

            </div>
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.extent.label }}
                        {{ ingest_form.extent(class_='form-control', rows=4) }}
                     </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.admin_note.label }}
                        {{ ingest_form.admin_note(class_='form-control', rows=4) }}
                    </div>
                </section>
            </div>
             
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.organizations.label }}
                        {{ ingest_form.organizations(class_='form-control') }}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.frequency.label }}
                        {{ ingest_form.frequency(class_='form-control') }}
                        <strong>OR</strong><br>
                        {{ ingest_form.frequency_free_form(class_='form-control')}}
                    </div>
                </section>
            </div>
          
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.subject_people.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'subject_people')">+</a>
                        {{ ingest_form.subject_people(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.subject_places.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'subject_places')">+</a>
                        {{ ingest_form.subject_places(class_='form-control') }}
                    </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                        {{ ingest_form.subject_topics.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'subject_topics')">+</a>
                        {{ ingest_form.subject_topics(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        {{ ingest_form.subject_dates.label }} <a href="#" class="tag tag-primary" 
                            onclick="NewInput(this, 'subject_dates')">+</a>
                        {{ ingest_form.subject_dates(class_='form-control') }}
                    </div>
                </section>
            </div>
            <div class="row">
                <section class="col-md-6">
                    <div class="form-group">
                     </div>
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                    </div>
                </section>
            </div>
         <div class="btn-group">
            <input type="submit" value="Add Stub Record(s)" class="btn btn-lg btn-primary"></input>
         </div>
	</form>
   </div>
{% endblock %}


{% block more_js %}
<script>
    function NewInput(btn, field_id) {
        var last_field = $(btn).prev();
        last_field.after("<br><input name='" + field_id + "' type='text', class='form-control'></input>");
    }
</script>
{% endblock %}
